@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
}

/* Define a custom class for gradient from all corners to the center */
.gradient-corners-to-center {
    background: 
    linear-gradient(to top left, black 20%, transparent 50%),
    linear-gradient(to top right, black 20%, transparent 50%),
    linear-gradient(to bottom left, black 10%, transparent 50%),
    linear-gradient(to bottom right, black 10%, transparent 50%);
  background-blend-mode: screen;
  }
  